// out: null
/*
File Name: palette.css
Date: 2/28/18 - revised
Programmer: Mario Lopriore
*/

// 8-digit hex value format: RRGGBBAA;
@trans-cover: #242424;
@light: #f3f3f3;
@lightLink: #70a3dd;
@orange: #c44412;
@dark: #381204;